<a href="https://colab.research.google.com/github/aruna-1985/arunakumari/blob/master/Houseprice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving Houseprice train.csv to Houseprice train.csv

In [3]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving Houseprice test.csv to Houseprice test.csv

In [5]:
train = pd.read_csv("Houseprice train.csv")
test = pd.read_csv("Houseprice test.csv")

In [6]:
train.head()

  POSTED_BY  UNDER_CONSTRUCTION  ...   LATITUDE  TARGET(PRICE_IN_LACS)
0     Owner                   0  ...  77.597960                   55.0
1    Dealer                   0  ...  76.644605                   51.0
2     Owner                   0  ...  77.632191                   43.0
3     Owner                   0  ...  77.344500                   62.5
4    Dealer                   1  ...  88.484911                   60.5

[5 rows x 12 columns]

In [7]:
test.head()

  POSTED_BY  UNDER_CONSTRUCTION  RERA  ...             ADDRESS  LONGITUDE   LATITUDE
0     Owner                   0     0  ...        Kamrej,Surat  21.262000  73.047700
1    Dealer                   1     1  ...     Panvel,Lalitpur  18.966114  73.148278
2    Dealer                   0     0  ...    New Town,Kolkata  22.592200  88.484911
3    Dealer                   0     0  ...  Kalwar Road,Jaipur  26.988300  75.584600
4     Owner                   0     0  ...   Mai Mandir,Nadiad  22.700000  72.870000

[5 rows x 11 columns]

In [8]:
train.columns.difference(test.columns)

Index(['TARGET(PRICE_IN_LACS)'], dtype='object')

In [9]:
train.shape

(29451, 12)

In [10]:
test.shape

(68720, 11)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [12]:
train.describe()

       UNDER_CONSTRUCTION          RERA  ...      LATITUDE  TARGET(PRICE_IN_LACS)
count        29451.000000  29451.000000  ...  29451.000000           29451.000000
mean             0.179756      0.317918  ...     76.837695             142.898746
std              0.383991      0.465675  ...     10.557747             656.880713
min              0.000000      0.000000  ...   -121.761248               0.250000
25%              0.000000      0.000000  ...     73.798100              38.000000
50%              0.000000      0.000000  ...     77.324137              62.000000
75%              0.000000      1.000000  ...     77.828740             100.000000
max              1.000000      1.000000  ...    152.962676           30000.000000

[8 rows x 9 columns]

In [13]:
train.isna().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [14]:
test.isna().sum()

POSTED_BY             0
UNDER_CONSTRUCTION    0
RERA                  0
BHK_NO.               0
BHK_OR_RK             0
SQUARE_FT             0
READY_TO_MOVE         0
RESALE                0
ADDRESS               0
LONGITUDE             0
LATITUDE              0
dtype: int64

In [17]:
train.POSTED_BY

0         Owner
1        Dealer
2         Owner
3         Owner
4        Dealer
          ...
29446     Owner
29447     Owner
29448    Dealer
29449     Owner
29450    Dealer
Name: POSTED_BY, Length: 29451, dtype: object

In [18]:
train["source"] = "train"
test["source"] = "test"

In [19]:
test

      POSTED_BY  UNDER_CONSTRUCTION  RERA  ...  LONGITUDE   LATITUDE  source
0         Owner                   0     0  ...  21.262000  73.047700    test
1        Dealer                   1     1  ...  18.966114  73.148278    test
2        Dealer                   0     0  ...  22.592200  88.484911    test
3        Dealer                   0     0  ...  26.988300  75.584600    test
4         Owner                   0     0  ...  22.700000  72.870000    test
...         ...                 ...   ...  ...        ...        ...     ...
68715    Dealer                   0     1  ...  19.180000  72.963330    test
68716    Dealer                   0     1  ...  30.661104  76.746082    test
68717    Dealer                   1     1  ...  19.222101  72.988231    test
68718    Dealer                   0     0  ...  18.496670  73.941670    test
68719    Dealer                   0     0  ...  19.124896  72.893503    test

[68720 rows x 12 columns]

In [21]:
df = pd.concat([train,test])

In [22]:
df.isna().sum()

POSTED_BY                    0
UNDER_CONSTRUCTION           0
RERA                         0
BHK_NO.                      0
BHK_OR_RK                    0
SQUARE_FT                    0
READY_TO_MOVE                0
RESALE                       0
ADDRESS                      0
LONGITUDE                    0
LATITUDE                     0
TARGET(PRICE_IN_LACS)    68720
source                       0
dtype: int64

In [ ]:
df.shape

(98171, 13)

In [24]:
df["POSTED_BY"].nunique()

3

In [30]:
df["POSTED_BY"] = df["POSTED_BY"].apply(lambda x : x[0:2])
df["POSTED_BY"] = df["POSTED_BY"].apply(lambda x : x[0:3])

In [31]:
df["POSTED_BY"].value_counts()

De    60728
Ow    35458
Bu     1985
Name: POSTED_BY, dtype: int64

In [34]:
df["POSTED_BY"].isna().sum()

0

In [36]:
df.iloc[0:100,1]

0     0
1     0
2     0
3     0
4     1
     ..
95    0
96    0
97    0
98    0
99    0
Name: UNDER_CONSTRUCTION, Length: 100, dtype: int64

In [44]:
df["RESALE"].nunique()

2

In [45]:
df["RESALE"].unique()

array([1, 0])

In [46]:
df["RESALE"].value_counts()

1    91527
0     6644
Name: RESALE, dtype: int64

In [78]:
from google.colab import data_table
data_table.DataTable(pf)

SyntaxError: ignored

NameError: ignored